<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>s5</title>
	<link rel="stylesheet" type="text/css" href="/main.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/slideshow.js"></script>
</head>

<body>

<div id="pause"></div>
<img src="http://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png" />

</body>
</html>
